@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

//Mixins
@mixin transitionEffect($par){
  transition: $par all;
  -webkit-transition: $par all;
  -moz-transition: $par all;
  -o-transition: $par all;
}
@mixin centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}

//color
$bg-color-1 :rgba(155, 89, 182, 0.7);
$bg-color-2: #eee;
$bg-color-3: #fff;
$bg-color-4: #777;
$bg-color-5:#8e44ad;

* {
  box-sizing: border-box;
}

body{
  background-color: $bg-color-1;
  font-family: 'Open Sans', sans-serif;
  @include centerFlex;
  height: 100vh;
  margin: 0;
}
.phone{
  position: relative;
  overflow: hidden;
  border: 3px solid $bg-color-2;
  border-radius: 15px;
  height: 600px;
  width: 340px;
}
.phone .content{
  opacity: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 60px);
  width: 100%;
  transition: opacity 0.4s ease;
}
.phone .content.show{
  opacity: 1;
}
nav{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-top: -5px;
  width: 100%;
}
nav ul{
  background-color: $bg-color-3;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 60px;
}
nav li{
  color: $bg-color-4;
  cursor: pointer;
  flex: 1;
  padding: 10px;
  text-align: center;
}
nav ul li p{
  font-size: 12px;
  margin: 2px 0;
}
nav ul li:hover,
nav ul li.active{
  color: $bg-color-5;
}